#cart-container {
  margin: 64px;
}

#cart-container h1 {
  text-align: center;
  margin-bottom: 16px;
}

#cart-table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 16px;
}

#cart-table thead {
  background-color: var(--neutral-200);
  border: 0;
}

#cart-table thead tr th {
  height: 50px;
  background-color: var(--neutral-200);
}

#cart-table thead tr th:first-child {
  border-top-left-radius: 8px;
}

#cart-table thead tr th:last-child {
  border-top-right-radius: 8px;
}

#cart-table thead tr th#table-item-name {
  width: 60%;
}

#cart-table thead tr th#table-item-amount {
  width: 15%;
}

#cart-table thead tr th#table-item-price {
  width: 20%;
}

#cart-table thead tr th#table-delete-item-placeholder {
  width: 5%;
}

#cart-table tbody tr:nth-child(even) {
  background-color: var(--neutral-100);
}

#cart-table tbody tr td {
  padding: 16px;
}


#cart-table tbody tr td + td {
  border-left: 2px solid var(--black);
}

#cart-table tbody tr td:last-of-type button {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#cart-table tbody tr td:last-of-type button:hover {
  background-color: var(--red);
}

#cart-container p.empty-message {
  margin: 64px;
  text-align: center;
}

#total-text {
  font-size: 24px
}

#total-amount {
  font-weight: 600;
}

#purchase-button {
  margin-top: 8px;
  width: 150px;
  height: 40px;
}

#purchase-button:disabled {
  cursor: not-allowed;
  background-color: var(--indigo-600);
}

#purchase-button:disabled:hover {
  background-color: var(--indigo-600);
}