#products-section {
  padding: 32px;
}

.products-container {
  display: flex;
  gap: 64px;
}

.item-container {
  margin-top: 16px;
}

.product-image {
  width: 150px;
  height: 150px;
  background: black;
}

.item-container h3 {
  margin-top: 16px;
}