#product-hero {
  position: relative;
  max-width: 100vw;

  display: flex;
  align-items: center;
}

#product-hero button {
  font-size: 32px;
  padding: 0 32px;
  position: absolute;

  border: none;
  background: none;
  color: var(--neutral-400);

  transition: color, font-size 0.2s;
}

#product-hero button#right-button {
  right: 0;
}

#product-hero button:hover {
  font-size: 60px;
  color: var(--neutral-100);
}

.image-container img {
  width: 100vw;
  overflow: hidden;
}

#product-hero > .hidden {
  display: none;
}