#product-hero {
  max-width: 100vw;

  display: flex;
  align-items: center;
}

#button-container {
  position: absolute;
  z-index: 1;

  width: 100vw;
  padding: 32px;

  display: flex;
  justify-content: space-between;
}

#button-container button {
  font-size: 32px;

  border: none;
  background: none;
  color: var(--neutral-400);

  transition: color, font-size 0.2s;
}

#button-container button:hover {
  font-size: 60px;
  color: var(--neutral-100);
}

.image-container img {
  width: 100vw;
  overflow: hidden;
}

.hidden {
  display: none;
}