#product-hero {
  position: relative;
  display: flex;
  align-items: center;
}

#product-hero button {
  font-size: 32px;
  margin: 0 32px;
  position: absolute;

  border: none;
  background: none;
  color: var(--neutral-400);

  transition: color, font-size 0.2s;
}

#product-hero button#right-hero-button {
  right: 0;
}

#product-hero button:hover {
  font-size: 60px;
  color: var(--neutral-100);
}

.hero-image-container {
  width: 100%;
}

.hero-image-container img {
  width: 100%;
  aspect-ratio: 5 / 2;
  object-fit: cover;
}

#product-hero > .hidden {
  display: none;
}