#product-search {
  padding: 64px;
  display: flex;
  justify-content: center;
}

#product-search-container {
  display: grid;
  grid-template-columns: 300px 1fr;
}

#product-search-container aside {
  padding: 32px;
  border-right: 2px solid var(--neutral-700);

  display: flex;
  flex-direction: column;
  align-items: center;
}

#product-search-container h1 {
  margin-bottom: 16px;
}

#product-search-container aside button {
  width: 75%;
  margin-bottom: 29px;
  display: block;
  
  border: 0;
  border-radius: 0;
  border-bottom: 3px solid rgba(0, 0, 0, 0);
  
  color: var(--black);
  background: 0;
  cursor: pointer;

  transition: border-color 0.2s;
}

#product-search-container aside button.selected {
  border-color: var(--black);
}

#product-search-container aside button:hover {
  border-color: var(--neutral-500);
}


#product-search-container main {
  padding: 48px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}

.hidden {
  display: none;
}