.products-section {
  padding: 96px 32px 32px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.products-container {
  margin-top: 32px;
  display: flex;
  gap: 48px;
}

.item-container {
  margin-top: 16px;
  color: var(--black);
}

.product-image {
  padding: 30px;
  width: 300px;
  height: 300px;
  
  object-fit: contain;
  background: var(--neutral-100);
  border-radius: 8px;
}

.item-container h3 {
  margin-top: 16px;
}