#product-display {
  margin: 64px 0;
  display: flex;
  justify-content: center;
}

#image-list-container {
  margin-right: 16px;
}

.image-list-item {
  width: 100px;
  height: 100px;

  cursor: pointer;
}

.image-list-item + .image-list-item {
  margin-top: 16px;
}

.image-list-item img {
  height: 90px; 
  padding: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
  
  border-radius: 8px;
  background-color: var(--neutral-100);
  object-fit: contain;

  transition: background-color 0.2s;
}

.image-list-item.selected img {
  background-color: var(--indigo-100);
}

#main-display-image {
  height: 450px; 
  padding: 50px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 8px;
  background-color: var(--neutral-100);

  object-fit: contain;
}

#info-container {
  margin-top: 16px;
}

#item-amount:disabled {
  width: 75px;
  text-align: center;
  
  color: var(--black);
  border: 2px solid var(--black);
  outline: none;
  border-radius: 50px;
}

#item-amount::-webkit-outer-spin-button,
#item-amount::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#plus-button, #minus-button {
  width: 32px;
}

#add-to-cart-button {
  width: 150px;
  height: 50px;
  margin-top: 8px;
}

#product-information {
  margin: 0 128px 64px;
}

#info-intro, #info-key-features, #info-tech-specs, #info-included-in-box {
  margin-bottom: 32px;
}

#product-information div > h1, h2 {
  margin-bottom: 16px;
}

.key-feature {
  margin-bottom: 32px;
}

#cart {
  display: flex;
  align-items: center;
  gap: 4px;
}

#cart i {
  font-size: 16zpx;
}