.products-section {
  padding: 32px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.products-container {
  display: flex;
  gap: 48px;
}

.item-container {
  margin-top: 16px;
  color: var(--black);
}

.product-image {
  width: 300px;
  height: 500px;
  background: black;
  border-radius: 8px;
}

.item-container h3 {
  margin-top: 16px;
}