:root {
  --indigo-50:   oklch(.962 .018 272.314);
  --indigo-100:  oklch(.93 .034 272.788);
  --indigo-200:  oklch(.87 .065 274.039);
  --indigo-300:  oklch(.785 .115 274.713);
  --indigo-400:  oklch(.673 .182 276.935);
  --indigo-500:  oklch(.585 .233 277.117);
  --indigo-600:  oklch(.511 .262 276.966);
  --indigo-700:  oklch(.457 .24 277.023);
  --indigo-800:  oklch(.398 .195 277.366);
  --indigo-900:  oklch(.359 .144 278.697);
  --indigo-950:  oklch(.257 .09 281.288);

  --neutral-50:  oklch(.985 0 0);
  --neutral-100: oklch(.97 0 0);
  --neutral-200: oklch(.922 0 0);
  --neutral-300: oklch(.87 0 0);
  --neutral-400: oklch(.708 0 0);
  --neutral-500: oklch(.556 0 0);
  --neutral-600: oklch(.439 0 0);
  --neutral-700: oklch(.371 0 0);
  --neutral-800: oklch(.269 0 0);
  --neutral-900: oklch(.205 0 0);
  --neutral-950: oklch(.145 0 0);

  --black:     #000000;
  --white:     #ffffff;
}

a {
  color: var(--white);
  text-decoration: none;
  cursor: pointer;

  transition: color 0.2s;
}

a:hover {
  color: var(--indigo-300);
}

h1 {
  font-size: 32px;
}